@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;600&display=swap");

:root {
  --primary-color: #2d2d2d;
  --secondary-color: #1a1818;

  --svg-color-1: #ff6250;
  --svg-color-2: #009379;
  --svg-color-3: #f3afa8;

  --svg-arrow-color: #2d2d2d;

  /* --profile-pic: url(/images/profile-pic.jpeg); */
  --profile-pic: url(https://images.unsplash.com/photo-1611558709798-e009c8fd7706?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=782&q=80);
}

body {
  background-color: #ffffff;
}

nav {
  display: flex;
  align-content: space-between;
  justify-content: space-between;
  align-items: center;
  margin: 1em 2em 1em 2em;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Epilogue", sans-serif;
}

ul {
  list-style: none;
}

nav > div > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
}

nav > div > ul > li > a {
  color: var(--primary-color);
  font-size: 17px;
  line-height: 27px;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

@media only screen and (max-width: 600px) {
  nav > div > ul {
    width: 200px;
  }
}
.hero {
  display: flex;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 384px;
  width: 465px;
  justify-content: space-evenly;
}
h1 {
  font-size: 80px;
}
.separator {
  border-right-style: solid;
  border-width: medium;
  padding-right: 5px;
  margin-right: 10px;
}
p {
  font-size: 20px;
  font-weight: 600;
}
h2 {
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
}

.profile-pic {
  width: 409px;
  height: 550px;
  background-image: var(--profile-pic);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-mask-image: url(images/profile-pic-mask.svg);
  mask-image: url(images/profile-pic-mask.svg);
  -webkit-mask-size: 400px;
  mask-size: 400px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
}

@media only screen and (max-width: 768px) {
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .links {
    display: none;
  }
  nav {
    justify-content: center;
  }
}
@media only screen and (max-width: 768px) {
  .content {
    display: flex;
    align-items: center;
  }
  .content > h1 {
    text-align: center;
  }
  .content > h2 {
    text-align: center;
    margin: 0 50px 0 50px;
  }
  section.skills {
    flex-direction: column;
    align-items: center;
  }
  section.clients > ul {
    flex-direction: column;
    line-height: 5;
  }
  
}

.hero {
  display: flex;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

.hero-image {
  position: relative;
  width: 409px;
  height: 550px;
  margin-top: 50px;
}

.orange-corner {
  position: absolute;
  width: 125px;
  height: 125px;
  right: 1em;
  top: -1.5em;
  background: var(--svg-color-1);
  z-index: 2;
  border-top-right-radius: 100%;
}
.green-corner {
  background-color: var(--svg-color-2);
  height: 125px;
  width: 125px;
  position: absolute;
  bottom: 4em;
  left: -2em;
  border-top-right-radius: 40%;
  border-bottom-left-radius: 40%;
}

.top-arrow {
  position: absolute;
  top: 1.2em;
  left: 2.8em;
  z-index: 2;
}
.bottom-arrow {
  position: absolute;
  bottom: 4em;
  right: 7px;
  z-index: 2;
}

section.clients > ul > li > svg {
  fill: var(--primary-color);
}

.clients {
  display: flex;
  margin: 2em 0 2em 0;
}
.clients > ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.skills {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 75px 100px;
}

.card {
  height: 450px;
  width: 330px;
  margin: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card > p {
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
  margin: 20px 40px 60px 40px;
}

.card > h3 {
  font-size: 27px;
  margin-top: 63px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 427px 427px;
  grid-gap: 45px 60px;
  justify-content: center;
  margin: 0 50px 0 50px;
  justify-items: center;
}

@media (max-width: 720px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 427px 427px 427px 427px 427px 427px;
  }
}
@media (min-width: 720px) and (max-width: 1110px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 427px 427px 427px;
  }
}

.project-card {
  height: 427px;
  width: 330px;
}
.project-card > div > h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  margin: 20px 0;
}
.project-card > div > p {
  font-size: 17px;
  font-weight: 400;
  margin: 10px 0;
}
.project-card > img {
  display: flex;
  height: 330px;
  width: 330px;
}
h4 {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  margin: 50px;
}

.scaling-svg-container {
  position: relative; 
  height: 0; 
  width: 120px; 
  height: 120px; 
  padding: 0; 
}
 .scaling-svg {
  position: absolute; 
  height: 100%; 
  width: 100%; 
  left: 0; 
  top: 0;
}

.clients-card {
  width: 330px;
  height: 370px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #F3F3F3;;
  padding: 28px;
  box-sizing: border-box;
  word-spacing: 3px;
  margin-bottom: 24px;

}
 
.clients-rating-card {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   margin: 30px;

}


 .clients-rating {
   height: 750px;
 }
 

 .rating {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

}
.clients-card > p {
  font-size: 17px;
  line-height: 26px;
  font-weight: 600;
}
.star > p {
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
}
.star {
  margin-left: 18px;
}
.card-image > img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}


 

 
 

 